## Numbers

In [1]:
addition = 1 + 2
print( "addition:", addition)
subtraction = 9 - 2
print("subtraction:", subtraction)
multiply = 2* 6
print("multiply:" , multiply)
division = 24 / 6
print("division:", division)

addition: 3
subtraction: 7
multiply: 12
division: 4.0

In [2]:
remainder = 11 % 3
print("remainder:", remainder)

remainder: 2

In [3]:
squared = 7 ** 2
cubed = 2 ** 3
exponential = 5 ** 10
print("squared:", squared)
print("cubed:", cubed)
print("exponential:", exponential)

squared: 49
cubed: 8
exponential: 9765625

In [4]:
quotient = 10 // 3 
print ("quotient:" , quotient)

quotient: 3

## Strings & List

In [5]:
helloworld = "hello" + " " + "world"
print(helloworld)

hello world

even_numbers = [2,4,6,8]
odd_numbers = [1,3,5,7]
odd_even = odd_numbers + even_numbers
even_odd = even_numbers + odd_numbers
print("odd_even", odd_even)
print("even_odd", even_odd)

In [6]:
print([1,2,3] * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

## Comparison

In [7]:
x = 5

print(x > 3 and x < 10)

True

In [8]:
x = 5

print(x > 3 or x < 4)

True

In [9]:
x = 5

print(not(x > 3 and x < 10))

False

## Identity Operators

In [10]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

# Output: False
print(x1 is not y1)

# Output: True
print(x2 is y2)

# Output: False
print(x3 is y3)

False
True
False

In [11]:
x = ["apple", "banana"]

print("banana" in x)

True

## Type & Cast

In [12]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print ("x:",x)
print("y:",y)  
print("z:",z)

x: 1
y: 2
z: 3

In [13]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print ("x:",x)
print("y:",y)  
print("z:",z)
print("w:",w )

x: 1.0
y: 2.8
z: 3.0
w: 4.2

In [14]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print ("x:",x)
print("y:",y)  
print("z:",z)

x: s1
y: 2
z: 3.0

In [15]:
num_int = 123
num_flo = 1.23

num_new = num_int + num_flo

print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))

print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

datatype of num_int: <class 'int'>
datatype of num_flo: <class 'float'>
Value of num_new: 124.23
datatype of num_new: <class 'float'>

### Changing Types

#### The below code will not work

In [16]:
num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str:",type(num_str))

print(num_int+num_str)

Data type of num_int: <class 'int'>
Data type of num_str: <class 'str'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

#### Using type conversion to make the code below to work

In [17]:
num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str before Type Casting:",type(num_str))

num_str = int(num_str)
print("Data type of num_str after Type Casting:",type(num_str))

num_sum = num_int + num_str

print("Sum of num_int and num_str:",num_sum)
print("Data type of the sum:",type(num_sum))

Data type of num_int: <class 'int'>
Data type of num_str before Type Casting: <class 'str'>
Data type of num_str after Type Casting: <class 'int'>
Sum of num_int and num_str: 579
Data type of the sum: <class 'int'>

## Logical Operations

If we want something to be False we can use not. It is a logical operator:

Logical operators are the and, or, not operators.

In [18]:
x = False
if not x :
    print("condition met")
else:
    print("condition not met")

condition met

## This and that or something else


Two easy to understand operators are and and or. They do exactly what they sound like:

In [19]:
if 1 < 2 and 4 > 2:
    print("condition met")

if 1 > 2 and 4 < 10:
    print("condition not met")

if 4 < 10 or 1 < 2:
    print("condition met")

condition met
condition met

### For loops

In [20]:
a = ['yellow', 'blue', 'red']
for i in a:
     print(i)

yellow
blue
red

## Avoid Infinity loops 
## while loops

In [21]:
x = 1
while x <= 5:
    print(x)
    x += 1

1
2
3
4
5

### using breaks

In [22]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

## if statements

In [23]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

## Nested if statements

In [24]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

## elif

In [25]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [26]:
cars = ['audi', 'bmw', 'subaru', 'toyota']

for car in cars:
    if car == 'bmw':
        print(car.upper()) # this is a method 
    else: 
        print(car.title()) # this is a method

Audi
BMW
Subaru
Toyota